.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
div.container {
  position: absolute;
  margin-left: 15%;
}

@media (min-width: 400px) {
  div.container {
    margin-left: 122px;
  }
}
