.nav {
  position:absolute;
  width: 120px;
  height: 100%;
  padding: 0px;
  font-size: 1em;
  background-color: #282828;
  z-index: 1000;
}
a {
  color: white;
}
.nav-link:hover {
  color: #282828;
}
a.nav-link:hover {
  background-color: white;
}
