<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
  <title>Document</title>
</head> -->
<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 background">
            <div class="introduction">
              <h1>Welcome</h1>
              <p>Our mission is to build a platform where students can make connections with small businesses, get real life experience, and practice. OwlDoIt is built by the students for the students to help develop our community and fellow classmates. Students, can create their own personalized profile to showcase their past projects to help promote future projects. For our wonderful community, they can create their profile and request help from students regarding the development of their business websites or mobile apps to help further business growth and develpment. We appriciate you and the time you have taken to check us out! Sign up now to see what we are all about! <br><a routerLink="/login"><button type="button" class="btn btn-info">Click Here</button></a>
            </div>
          </div>
      </div>
    </div>

</body>
<!-- </html> -->
