<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 background">
            <div class="intoduction">
              <h1>Welcome</h1>
              <p>Our mission is to continue to building our platform where students and small businesses can make connections, get real life experience, and practice. OwlDoIt is built by the students for the students to help develop our community and fellow classmates. Students, can create your own personalized profile to showcase your past projects to help promote future projects. For our wonderful community, you can create your profile as well to showcase your busineess and what you would like to be built by students to help further your business growth and develpment. We appriciate your support and the time you have taken out of your day to check us out! Sign up now to see what we are all about!</p>
            </div>
          </div>
          <!-- <div class="sign-up-form flex"> -->
          <div class="col-sm-6 sign-up-background">
            <form>
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label for="validationDefault01">First name</label>
                  <input type="text" class="form-control" id="validationDefault01" placeholder="First name" value="Mark" required>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="validationDefault02">Last name</label>
                  <input type="text" class="form-control" id="validationDefault02" placeholder="Last name" value="Otto" required>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="validationDefaultUsername">Username</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrepend2">@</span>
                    </div>
                      <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Username" aria-describedby="inputGroupPrepend2" required>
                </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label for="validationDefault03">City</label>
                  <input type="text" class="form-control" id="validationDefault03" placeholder="City" required>
                  </div>
                <div class="col-md-3 mb-3">
                  <label for="validationDefault04">State</label>
                  <input type="text" class="form-control" id="validationDefault04" placeholder="State" required>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="validationDefault05">Zip</label>
                  <input type="text" class="form-control" id="validationDefault05" placeholder="Zip" required>
                </div>
              </div>
                <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                  <label class="form-check-label" for="invalidCheck2">
                      Agree to terms and conditions
                  </label>
                </div>
              </div>
              <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
      </div>
    </div>

</body>
</html>
