<div class="container">
  <div class="row">
    <div class="col-md-5 offset-md-1">
      <h1 class="stNa"> {{ first.name }} {{ last.name }} </h1>
      <h3 class="dmyXp"> {{ time.expirence }} </h3>
      <h3 class="stemp"> {{student.employment}} </h3>
    </div>
    <div class="col-md-5 offset-md-1">
      <img src="" alt="" class="profilePic">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="offset-md-1 col-md-10">
      <h3 class="bio"> Biography:</h3>
    </div>
  </div>
</div>
