<div class="profile-fill">
  <h1>User Profile</h1>

  <div *ngIf="auth.user$ | async as user; then authenticated else guest">
      <!-- template will replace this div -->
  </div>


  <!-- User NOT logged in -->
  <ng-template #guest>
  <h3>Hey, you're not logged in!</h3>
  <p>Login to get started...</p>

  <button class="button" class="btn btn-warning" routerLink="/login"> Login Page</button>

  </ng-template>


  <!-- User logged in -->
  <ng-template #authenticated>
  <div *ngIf="auth.user$ | async as user">
      <img class="user-image" [src]="user.photoURL">
      <h1>{{ user.displayName }}</h1>
      <p>Email: {{ user.email }}</p>
      <button class="button" class="btn btn-warning" (click)="auth.signOut()" routerLink="/login">Logout</button>
  </div>
  </ng-template>
</div>