<div class="container">
  <div class="row">
    <div class="offset-md-1 col-md-5 ">
      <h1 class="studentname"> {{ first.name }} {{ last.name }} </h1>
      <h3 class="expirence"> {{ time.expirence }} </h3>
      <h3 class="studentemployment"> {{student.employment}} </h3>
    </div>
    <div class="offset-md-1 col-md-5 ">
      <img src="" alt="" class="profilePic">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="offset-md-1 col-md-10">
      <h3 class="biographyheader"> Biography:</h3>
      <p class="bioText"> {{ student.Bio }} </p>
    </div>
  </div>
</div>
<div class="contain">
  <div class="row">
    <div class="offset-md-1 col-md-10 offset-md-1 ">
      <h3 class="languageheader"> Languages/Sublanguages:</h3>
      <p class="languagetext"> {{sublanguage.text}} </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="offset-md-1 col-md-10 offset-md-1">
      <h3 class="contactInfo"> Contact: </h3>
        <h5 class="emailInfo"> Email: {{ email.info }} </h5>
        <h5 class="phoneNumb"> Phone: {{ phone.number }} </h5>
        <h5 class="slack"> Slack: {{ slack.username }} </h5>
        <h5 class="githubInfo"> Github: {{ github.username }} </h5>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="offset-md-1 col-md-10 offset-md-1">
      <h3 class="useragreement"> User agreement: </h3>
        <p class="agreementtext"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe, quo enim nulla nemo iusto voluptatum, expedita laboriosam nobis soluta necessitatibus ex recusandae possimus accusamus aperiam debitis tenetur nihil corrupti. Recusandae. </p>
    </div>
  </div>
</div>